<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" rel="image/x-icon" href="icon.png">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>STEch CBT Platform</title>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet" />

  <!-- CSS -->

  <!-- boostrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
   <!-- End of botsrap -->
  <link rel="stylesheet" href="style.css" />
</head>
<body id="bodyColor">
  
        <form action="#" method="Post">
            <!-- The First FormLine List  -->
             <div class="topSpace">

           
<div id="centeralizedRegister">



            <div class="dOrigin">
            <div class="d1">
                <h4>Profile</h4>
                <p>Set Your Profile name and Contact Email</p>
            </div>
            <div class="d2">
                <div class="twoDetails">
             <div class="nameSection">
                <label for="firstName">First Name</label>
                <input type="text" name="profileName" id="ProfileNAme" autofocus>
                  </div> 
                   <div class="surnameSection">
                    <label for="lastName">Last Name</label>
                  <input type="text" name="surName" id="surName" autofocus>
              </div>
            </div>
                <div class="twoDetails2">
                    <label for="email">Email</label>
                <input type="email" name="registerMail" id="registerMail">

            </div>
            </div>
            <div class="d3">
               
                    <img src="building.jpg" alt="The imageConatainer" class="imageCircle">
                    <div class="btnDelete">

                   
                    <button> Edit Photo </button>

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                      </svg>
                </div>
 
            </div>
        </div>
        <!-- End of the first Form Line  -->
 

<!-- The first Line Through -->
        <hr>

        <div class="dOrigin">
            <div class="d1">
                <h4>Personal Information</h4>
                <p>Tell us more about yourself</p>
            </div>
            <div class="d2">
                <div class="twoDetails">
                    <div class="DateOFBirthSection">
                       <label for="dateOFbirth">Date of Birth</label>
                       <input type="date" name="date" id="dateOFbirth">
                         </div> 
                          <div class="GenderSection">
                           <label for="gender">Gender</label>
                           <div class="genderLine">

                          <label for="male" style="font-weight: 700;">Male</label>
                         <input type="radio" name="thesame" class="circleRadio"> 
                         <label for="Female" style="font-weight: 700;">Female</label>
                         <input type="radio"  name="thesame" class="circleRadio">
                        </div>
                     </div> 
                   </div>
                       <div class="twoDetails2">
                           <label for="address">Address</label>
                       <input type="text" name="registerMail" id="address">
       
                   </div>
            </div>
            <div class="3">
                <div class="lineUnderLine">

                
                <label for="phoneNumber">Phone Number</label>
                <input type="tel" name="phoneNUmber" id="phoneNumber">
                </div>
            </div>
        </div>
<hr>
<!-- Details Collected for the Third Line -->
<div class="dOrigin">
    <div class="d1">
        <h4>Account Settings</h4>
        <p>Manage how you log in and secure your account</p>
    </div>
    <div class="d2">
        <div class="twoDetails">
     <div class="nameSection">
        <label for="Username">Username</label>
        <input type="text" name="username" id="username" autofocus>
          </div> 
           <div class="surnameSection">
            <label for="password">Password</label>
          <input type="password" name="password" id="password" autofocus>
      </div>
    </div>
        <div class="twoDetails2">
            <label for="address">Email</label>
        <input type="text" name="addressName" id="address">

    </div>
    </div>
    <div class="d3">
        <div class="empty">
            <label for="address">Comfirm Password</label>
        <input type="password" name="password" id="phoneNumber">

    </div>
    </div>
</div>
<hr>
<!-- Details Collected for Fourth LIne  -->
<div class="dOrigin">
    <div class="d1">
        <h4>School Of Choice</h4>
        <p>Select and Manage Your Choice of School</p>
    </div>
    <div class="d2">
        <div class="twoDetails">
     <div class="nameSection">
        <label for="first Choice">First Choice</label>
        <input type="text" name="firstChoice" id="firstChoice" autofocus>
        <input type="text" name="firstChoice" id="firstChoice" autofocus placeholder="Course">

          </div> 
           <div class="surnameSection">
            <label for="secondchoice">Second Choice</label>
          <input type="text" name="secondchoice" id="secondchoice" autofocus>
          <input type="text" name="secondchoice" id="secondchoice" autofocus placeholder="course">
      </div>
    </div>
     
    </div>
    <div class="d3">
        <div class="empty">
            <label for="thridchice">Third Choice</label>
        <input type="text" name="thirdchoice" id="phoneNumber" required>
        <input type="text" name="thirdchoice" id="phoneNumber" required>

    </div>
    </div>
</div>
<hr>
 <div class="approvedBtnSection">


<button class="completRegistration">Complete Registration</button>
</div>
</form>
</div>

</div>

<footer class="downLogin">
    <marquee behavior="" direction="bi-arrow-right">
        <p class="smartMove"> Your Registration Number will be Emaild to Your Gmail Address and Will Also receaive as a Text Message, Wish you Success</p>
    </marquee>
</footer>
  </body>
  </html>