<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" rel="image/x-icon" href="/images/icon.png">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>STEch CBT Platform</title>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet" />

  <!-- CSS -->

  <!-- boostrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
   <!-- End of botsrap -->
  <link rel="stylesheet" href="/styles/slip.css" />
</head>
<body id="body">
<div class="centeralized" id="centeralized">
   <div class="headingInfo">
 <div class="shapeYear">
<h1 class="yearContent"> 2018</h1>
<div class="whiteShape">

</div>

 </div>
 <div id="cbtLogo">
<img src="/images/brandlogo.png" alt="The Exam CBT Owner Brand logo" class="brandlogoImg">
 </div>
 <div id="identification">
  <h2> <span class="personalColor">STec|| </span> Exam And Admission Board</h2>
  <b>Online Examination portal For All Schools Made Easy</b>
  <p>Enhancing Academic Exellence</p>
  <b>E - Registration Slip</b>
  <p>Date Viewed : Friday, May 16, 2025</p>
 </div>

 
   </div>
   <b>Date Submitted : January 26 2025</b>
<!-- Personal Details -->
   <div class="PersonalDetails">
    <div class="namesInfo">
        <h2>Personal Details:</h2>
<h5>Surname/First Name/Other Name:<b>AKINROMADE, Ayomide Emmanuel</b></h5>
<h5>Date of Birth:<b>Octomber, 2 2009</b></h5>
<h5>Gender:<b>Male</b></h4>
<h5>Telephone No:<b>08059985455</b></h5>
<h5>Email:<b>akinromadeayomide2@gmail.com</b></h5>
    </div>
  
    <div class="profileImage">
<img src="/images/slide3.jpg" alt="The User Profile Image or picture" class="profileImage">
    </div>

</div>
<!-- Personal Details -->
 <!-- Examination details -->

 <div class="examinationDetails">
     <div class="examIfo">
        <h2>Examination Details:</h2>
<h5>Registration Number:<b>896756455GT</b></h5>
<h5>Center Number:<b>C2222XC</b></h5>
<h5>Examination Town:<b>Oyo in Oyo State</b></h4>
<h5>Examination Centre Name:<b>This will be Available later to Know your Center and Date Of Exam</b></h5>

    </div>
 <div class="subject">
     <div class="subject">
        <h2>STEc|| Subjects</h2>
<h5><b>Use of English</b></h5>
<h5><b>Mathematics</b></h5>
<h5><b>Physics </b></h4>
<h5><b>Chemistry</b></h5>

    </div>
    </div>
<!-- the choice of Schools and courses -->
<div class="choiceOfInstitution">
     <h2 class="choice">Choice of Institution</h2>
</div>

<div class="choiceOfSchool">


<div class="firstChoice">
   
  <div class="subject">
        <h2 class="choice">First Choice</h2>
<h5>Institution Type:<b>Degree-Awarding</b></h5>
<h5>Institution:<b>Federal University Of Technology Minna, Niger State</b></h5>
<h5>Course:<b>Computer Science</b></h4>
<h5>Falculty:<b>Computing Science & Engineering</b></h5>

    </div>
</div>
<div class="secondChoice">
  <div class="subject">
        <h2 class="choice">Second Choice</h2>
<h5>Institution Type :<b>Degree-Awarding</b></h5>
<h5>Institution:<b>Federal University Of Oye Ekiti, Ekiti State</b></h5>
<h5>Course:<b>Computer Science</b></h4>
<h5>Falculty:<b>Computing Science & Engineering</b></h5>

    </div>

</div>
<div class="thirdChoice">
  <div class="subject">
        <h2 class="choice">Third Choice</h2>
<h5>Institution Type :<b>NCE-Awarding</b></h5>
<h5>Institution:<b>Adeyemi College Of Education, Ondo state</b></h5>
<h5>Course:<b>Mathematics</b></h4>
<h5>Falculty:<b>Science</b></h5>

    </div>

</div>
<div class="fourthChoice">
<div class="subject">
        <h2 class="choice">Fourth Choice</h2>
<h5>Institution Type :<b>Innovative Enterprise Institute</b></h5>
<h5>Institution:<b>Federal Polytechnic Offa, Kwara State</b></h5>
<h5>Course:<b>Computer Science</b></h4>
<h5>Falculty:<b>ScienceEngineering/Tech/Env</b></h5>

    </div>


</div>
</div>

 <div class="qr">
    <div class="note">
 <h2 class="choice">Note:</h2>
 <p>Prepare for your exams with our 
    realistic CBT practice platform. 
    Simulate the actual testing environment, 
    including rules against smartphones,
     smartwatches, and other unauthorized 
     electronic devices or materials. Access 
     practice tests anytime to build confidence
      and improve your skills with instant feedback.</p>
</div>  
    <div class="qrIMg">
        <img src="/images/qr.jpg" alt="the Qr image for the page" class="imgqr">
    </div>
 </div>
    <!-- here -->
    </div>
  <div class="saveBtn"> 
    <button onclick="saveAsPDF()"> Save as PDF</button>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script> 
<!-- converting into Pdf -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
 <script>
   

  function saveAsPDF() {
     const element = document.getElementById("centeralized");
    const options = {
      margin:       0.1,
      filename:     'my Stec|| result Slip',
      image:        { type: 'jpeg', quality: 0.8 },
      html2canvas:  { scale: 2 },
      jsPDF:        { unit: 'in', format: 'A4', orientation: 'portrait' }
      
    };
  
   html2pdf().from(element).set(options).save();
  }



 </script>
</body>
</html>